/*************************** Ejercicio React Router DOM ******************************************/
div {
  font-size: 3em;
}

a{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  font-size: 12px;
}

.activado {
  color: gold;
  background-color: darkmagenta;
}



/*************************** Ejercicio Profesoras con CONTEXT ******************************************/
/* .botones {
  display: flex;
  text-align: center;
}

img {
  width: 100%;
  vertical-align: top;
}

.idiomas {
  display: flex;
  justify-content: center;
}

.bandera {
  width: 75px;
  margin: 10px;
}

.botones button{
  width: 150px;
  background-color: white;
    padding: 5px 8px;
    margin: 10px;
    border-radius: 5px;
    border: 1px dotted black;
    color: white;
    background-color: teal;
    font-size: 1.05em;
}

.profesora, .ubicacion{
  width: 320px;
    text-align: center;
    padding-bottom: 15px;
    margin: auto;
    border-radius: 8px;
    color: white;
    background-color: teal;
} */

/*************************** Ejercicio Tarjetas con CONTEXT ******************************************/
/* .App {
  display: flex;
  height: calc(100vh - 30px);
}

.hijo {
  width: 33%;
  border: 1px solid gray;
  text-align: center;
}

.colores {
  display: flex;
}

.color {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.color:nth-child(1) {
  background-color: #4285f4;
}
.color:nth-child(2) {
  background-color: #ea4335;
}
.color:nth-child(3) {
  background-color: #fbbc05;
}
.color:nth-child(4) {
  background-color: #34a854;
} */

/***************************************************************************************************/
/*
.card {
  color: white;
  padding: 2px 15px 20px;
  margin-bottom: 10px;
  width: 280px;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

/* img {
  width: 400px;
}

.box {
  user-select: none;
} */

/* .divPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 30px;
} */

/* input {
  color: orange;
  line-height: 50px;
  margin: 6px;
  text-align: center;
  border-radius: 8px;
  border: 1px dotted darkred;
  outline: none;
  font-size: 2rem;
} */

/* .mathBox {
  font-size: 4rem;
  display: flex;
  align-items: center;
} */

/* button {
  font-size: 2rem;
  padding: 5px 15px;
  color: darkred;
} */

/* .rojo {
  color: darkred;
}

.verde {
  color: darkgreen;
} */
